/*=========== Responsive CSS ============*/















@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0px 1.6rem;
    }
}
